
*.suo
*.user
*.userosscache
*.sln.docstates

_*/
bin/
**/RhinoCode/.vscode/
**/RhinoCode/node_module
**/RhinoCode/src/
**/RhinoCode/*.*
obj/
packages/
*.afdesign
/Editor/extensions/RhinoCode/node_modules/.bin
/Editor/extensions/RhinoCode/node_modules
/.vs
/Editor/extensions/RhinoCode/out/test
